body {
  background-color: rgb(251, 251, 251);
  color: #2e2e2b;
  margin: 4rem 4rem 1rem 4rem;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 12rem;
}
h3 {
  padding-top: 1rem;
  margin: 0.5rem, 0, 0.5rem, 0;
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
}
butt {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-right: 2rem;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
}
proj {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 700px;
  gap: 1rem;
}
cheek {
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
}
c1 {
  width: 50px;
  height: 50px;
  border-radius: 10rem;
  background-color: #e5e5e5;
  color: #fff;
}

c2 {
  width: 50px;
  height: 50px;
  border-radius: 10rem;
  background-color: #e5e5e5;
  color: #fff;
}

/* Link Decoration */
a {
  color: #2e2e2e;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* classes */
.c {
  margin: 0;
  padding-top: 7px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20rem;
  background-color: #2e2e2b;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: auto;
  bottom: 125%;
  left: 50%;
  margin-left: -19rem;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 2rem;
}

.design {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.i300 {
  width: 300px;
  border-radius: 2rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.square {
  height: 100%;
  width: 425px;
  background-color: rgb(251, 251, 251);
}
.square2 {
  height: 100%;
  width: 250px;
  background-color: rgb(251, 251, 251);
  display: none;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bellyr {
  display: flex;
  justify-content: flex-end;
}
.bellyl {
  display: flex;
  justify-content: flex-start;
}
.ulr {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;
  justify-content: space-evenly;
}
.lir {
  padding: 2.2rem 2rem 1.2rem 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.leftside {
  display: flex;
  align-items: flex-start;
}

.ull {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  flex: 1;
  justify-content: space-evenly;
}
.lil {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  white-space: nowrap;
}
.uld {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.fixed {
  position: fixed;
}
.right {
  text-align: right;
}
.desktop {
  font-size: 5rem;
  margin: 0;
}
.ipad {
  font-size: 2rem;
  margin: 0;
}
.height {
  max-height: 593px;
}
.height2 {
  max-height: 570px;
  width: 425px;
}
.deco {
  text-decoration: underline;
}
.para {
  margin: 1rem 0 1rem 0;
}
.text {
  background-color: #2e2e2b;
  color: rgb(251, 251, 251);
  border-radius: 0.4rem;
  font-size: 2rem;
  font-family: bebas-neue-pro, sans-serif;
  padding: 1em 0.5em;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.a {
  position: absolute;
  top: 19.125rem;
  left: 13.375rem;
}

.pretty {
  padding: 0;
}
.marign {
  margin-block-start: 0;
  margin-block-end: 0;
}

.tight {
  padding: 0;
  margin: 0;
}
.size {
  font-size: 1.5rem;
}
/* .shadow {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
} */

.shadow {
  filter: drop-shadow(10px 50px 5px rgba(0, 0, 0, 0.258));
}
.shadow2 {
  filter: drop-shadow(2.5px 2.5px 5px rgba(0, 0, 0, 0.141));
}

/* Animations */

.blur-out-expand {
  animation: blur-out-expand 100s cubic-bezier(0.01, 0.01, 0.5, 0.5) infinite
    both alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

@keyframes blur-out-expand {
  0% {
    filter: blur(0.01);
  }
  50% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0);
  }
  100% {
    filter: blur(0.01);
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

/* Breakpoints */

@media screen and (max-width: 1080px) {
  img.i300 {
    width: 250px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  proj {
    width: fit-content;
  }
}
@media screen and (max-width: 1045px) {
  img.height {
    max-width: 228px;
    max-height: 305.8291298152px;
  }
  img.i300 {
    width: 250px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media screen and (max-width: 1220px) {
  .square {
    display: none;
  }
  .fixed {
    position: relative;
  }
  .rtl {
    direction: rtl;
  }
  img.height2 {
    max-width: 250px;
    max-height: 335.3389581307px;
  }
  proj {
    margin-right: 1rem;
  }
  img.i300 {
    width: 250px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* Ipad */
@media screen and (max-width: 720px) {
  body {
    margin: 2rem;
  }

  /* Nathalie Side  */

  .desktop {
    font-size: 2rem;
  }

  h2 {
    font-size: 8rem;
  }
  h1.desktop.l {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  img.height {
    max-width: 250px;
    max-height: 335.3389581307px;
  }
  butt {
    font-size: 75%;
  }

  /* Deisgner Side */

  .square {
    display: none;
  }
  .square2 {
    display: contents;
  }

  .middle.a {
    display: none;
  }

  /* .fixed {
    position: relative;
  } */

  .rtl {
    direction: rtl;
  }
  img.height2 {
    max-width: 250px;
    max-height: 335.3389581307px;
  }
}

@media screen and (max-width: 467px) {
  /* Mobile */

  /* Nathalie Side  */

  h2 {
    font-size: 5rem;
  }
  img.height {
    max-width: max-content;
    max-height: max-content;
  }
  .ull {
    display: flex;
    flex-direction: column;
  }
  .bellyl {
    display: flex;
    flex-direction: column;
  }
  li.lil {
    font-size: 1.2rem;
  }
  butt {
    font-size: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  h3 {
    font-size: 1rem;
  }
  li.size {
    font-size: 1rem;
  }
  h1.info {
    font-size: 1rem;
  }

  /* Deisgner Side */

  .square {
    display: none;
  }
  .fixed {
    position: relative;
  }
  .rtl {
    direction: rtl;
  }
  h1.desktop.r {
    display: NONE;
  }
  img.height2 {
    display: none;
  }

  img.i300 {
    width: 250px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .lir {
    font-size: 1.5rem;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  .design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .middle.a {
    display: none;
  }
}

/* Hovers */

h1:hover {
  color: rgb(164, 164, 164);
}
i:hover {
  color: rgb(164, 164, 164);
}

li:hover {
  text-decoration: underline;
}
.i300:hover {
  transition: 0.5s ease;
  display: block;
}
.inactive:hover {
  opacity: 50%;
}

.text:hover .i300:hover {
  transition: 0.5s ease;
  display: block;
}
div:hover .middle {
  opacity: 1;
}
.grow:hover {
  transform: scale(1.03);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* Selections */
h1::selection {
  color: #fff;
  background-color: #000000;
}
h2::selection {
  color: rgb(125, 125, 125);
  background-color: #d3d3d3;
}
li::selection {
  color: rgb(125, 125, 125);
  background-color: #d3d3d3;
}
